version: "3.9"
services:
  mongo:
    image: mongo:6.0
    container_name: devops-infra-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: devops-infra-app
    env_file: .env
    environment:
      PORT: ${APP_PORT}
      MONGO_URI: ${MONGO_URI}
    ports:
      - "${APP_PORT}:${APP_PORT}"
    depends_on:
      - mongo

volumes:
  mongo_data:
