version: "3.9"
services:
  app:
    build: .
    container_name: devops-infra-app
    environment:
      - MONGO_URI=mongodb://mongo:27017
    ports:
      - "5050:5050"
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: devops-infra-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: