version: "3.9"
services:
  mongo:
    image: mongo:6.0
    container_name: devops-infra-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: devops-infra-app
    environment:
      - PORT=5050
      - MONGO_URI=mongodb://admin:admin123@mongo:27017/?authSource=admin&directConnection=true
    ports:
      - "5050:5050"
    depends_on:
      - mongo

volumes:
  mongo_data:
